.add-ingredient {
    color: green;
    width: 0.25rem;
    margin-right: 0.5rem;
    margin-left: -0.25rem;
}

.add-ingredient:hover {
    cursor: pointer;
}

.ingredient-card {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
    padding: 0 0.25rem;
    text-wrap: nowrap;
}

.ingredient-card-title {
    font-size: 14px;
    max-width: 100%;
    width: 30%;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
}

.ingredient-card-prop {
    font-size: 12px;
    width: 11%;
    max-width: 8rem;
    min-width: 2.25rem;
    margin-right: 0.5rem;
}

.ingredient-card-properties {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70%;
    justify-content: space-between;
}

.ingredient-card-prop.fat {
    width: 8%;
    min-width: 1.75rem
}

.ingredients-list {
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: #ceecfd;
    width: calc(100% - 10px);
    border-radius: 6px;
    overflow: hidden;
}

.ingredient-card.odd {
    background-color: #e9f7ff;
}

.ingredients-window {
    width: calc(100% - 20px);
    margin: 1rem 0;
}